.NewEntries {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 3em;
  height: 60vh;
  margin-bottom: 2em;
}

input {
  padding: 0.5em 0.75em;
}

button[type="submit"] {
  background: teal;
  color: white;
  padding: 0.5em;
  width: max-content;
  margin: 0 auto;
}

main {
  position: relative;
}
